.product-card {
    height: 400px;
}

.product-details {
    font-size: 20px;
}

.product-actions {
    margin-top: 20px;
}

.quantity-controls {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.quantity-controls input {
    width: 40px;
    height: 35px;
    font-size: 20px;
    padding-left: 10px;
    text-align: center;
}
