/* You can add global styles to this file, and also import other style files */

/* ng add @ng-bootstrap/ng-bootstrap */ 
/* to add a bootstrap in angular project */

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}